@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin flexbox {
	display: flex;
}

@mixin flex-row {
	flex-direction: row;
}

@mixin flex-column {
	flex-direction: column;
}

@mixin mobile-max {
	max-width: $mobile;
}

@mixin desktop-max {
	max-width: $desktop;
}  