

$header-font: 'Playball', cursive;
$body-font: 'Open Sans', sans-serif;


$font-size-base: 14px;
$font-size-normal: 14px;
$font-size-sm: 12px;
$font-weight-standard: 500;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;