$primary-color: #f8506e;
$primary-red: #faf9f7;
$primary-blue: #13446a;
$white: #fff;
$black: #000;
$gray: #ddd;
$light-gray: #ccc;
$slate: #222;


$center-margin: 0 auto;

$mobile: 600px;
$desktop: 1024px;